@font-face {
    font-family: 'Grado Gradoo';
    src: url('./fonts/gradogradoonf.regular.ttf') format("truetype");
}

body {
    margin: 0;
    color: #fff;
    font-family: 'Monaco', sans-serif;
}

header {
    height: 100vh;
    background-image: url('./images/antipasti2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-content-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
}

@media screen and (max-width: 992px) {
    .header-content-inner {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .header-content-inner {
        width: 100%;
    }
}

.header-content-inner h1 {
    font-size: 75px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: 10px;
    font-family: 'Grado Gradoo', sans-serif;
}

@media screen and (max-width: 576px) {
    .header-content-inner h1 {
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 8px;
    }
}

.header-content-inner div {
    width: 75%;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.header-content-inner div img {
    width: 70px;
}

@media screen and (max-width: 576px) {
    .header-content-inner div img {
        width: 50px;
    }
}

.header-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    z-index: 1000;

    min-height: 100vh;
    width: 200px;
    right: -200px;
    transition: right 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
}

.header-nav a {
    padding: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.header-nav-trigger {
    display: none;
}

.header-nav-trigger-label {
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
    user-select: none;
    cursor: pointer;
    font-size: 2.5rem;
    z-index: 2000;
}

.header-nav-trigger:checked ~ nav {
    right: 0;
}

.header-nav img {
    width: 30px;
    position: absolute;
    top: 29px;
    left: 30px;
}

.header-nav img:hover {
    cursor: pointer;
}

.header-nav a:hover {
    cursor: pointer;
    font-weight: 800;
}

.header-nav-trigger:checked ~ .header-nav {
    right: 0;
}

.header-nav-icon {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.header-nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.header-nav-icon span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.header-nav-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.header-nav-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.header-nav-trigger:checked ~ .header-nav-trigger-label .header-nav-icon span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    left: 8px;
}

.header-nav-trigger:checked ~ .header-nav-trigger-label .header-nav-icon span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.header-nav-trigger:checked ~ .header-nav-trigger-label .header-nav-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

main {
    background-color: #232227;
    background-image: linear-gradient(#17181D, #232227);
}

.section-header {
    font-family: 'Grado Gradoo', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 50px 0;
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1320px;
    margin: auto;
}

.products-container .product-card {
    display: flex;
    flex-basis: calc(50% - 60px);
    justify-content: center;
    margin: 30px;
    position: relative;
}

@media screen and (max-width: 576px) {
    .products-container .product-card {
        flex-basis: calc(100% - 60px);
    }
}

.products-container .product-card div {
    display: flex;
    position: absolute;
    align-items: flex-end;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    transition: background-color 1s;
}

.products-container .product-card div.left {
    justify-content: flex-end;
    text-align: right;
}

.products-container .product-card div.right {
    justify-content: flex-start;
    text-align: left;
}

.products-container .product-card div p {
    width: 50%;
    margin: 30px;
    display: none;
    font-size: 20px;
}

.products-container .product-card div:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.products-container .product-card div:hover p {
    display: block;
}

.products-container .product-card img {
    max-width: 100%;
    height: auto;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.contact-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-heading {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    color: white;
    text-align: left;
    margin-bottom: 15px;
    font-family: 'Grado Gradoo', sans-serif;
    font-weight: bold;
}

.contact-text {
    text-align: center;
    font-size: 16px;
}

.contact-text a {
    text-decoration: none;
    color: white;
}

.contact-container hr {
    border-top: 1px solid white;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    background-color: #232227;
}

footer .content {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    text-align: right;
    padding: 30px;
}

#map {
    min-height: 400px;
}